*{
margin: 0;
padding: 0;
box-sizing: border-box ;
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 70px;
   background-color: #fff200;
   position: fixed;
   width: 100%;
}
.title{
    color: black;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bold;
    transition: 1.5s;
}
nav img{
    opacity: 0;
    align-items: center;
    height: 30px;
}
.titleimg{
    transition: 1.5s;
    border-radius: 30%;
}
li{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%; 
}
@media (max-width: 916px){
    .nav-links{
        width: 60%; 
    }

}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bold;
}
.nav-links a:hover{
    text-decoration: underline;
    color: #4b8b3b;
}
.burger{
    display: none;
}
.burger div{
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px;
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .burger{
        display: block;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 70px;
        width: 50%;
        background-color: #fff200;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}
#cvlink{
    border: 3px solid black;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: #fff200;
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) ;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) ;
}
.jumbotron{
    height: 100vh;
    background-image: url("../pics/1920x1080-Dark-Minimal-Mountains-At-Night-1080P-Laptop-Full-.jpg");
    background-attachment: fixed;
    background-position: center;
}
.jumbotron h1{
    text-align: center;
    padding-top: 50vh;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 3px;
    color: seashell;
}
.active{
    text-decoration: underline !important;
}
.aboutimg{
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}
.about img{
    width: 30vh;
    border-radius: 50%;
    border: 6px solid #00b140;
}
.about{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: #00b140;
    padding: 20vh 30vh;
    line-height: 125%;
}
@media (min-width: 1000px )and (max-width: 1500px){
    .about{
        padding: 20vh 15vh;
    }
}
@media (min-width: 768px )and (max-width: 1000px){
    .about{
        padding: 20vh 5vh;
    }
}
@media (max-width: 767px){
    .about{
        padding: 20vh 2vh;
    }
}
.skills{
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center;
    line-height: 50px;
    background-color: black;
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: #fff200;
}
.contact{
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 10vh;
    background: rgb(255,242,0);
background: radial-gradient(circle, rgba(255,242,0,1) 35%, rgba(0,177,64,1) 100%);
}
.contact a{
    color: black;
    margin: 10vh;

}
.copyright{
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 10vh;
    background-color: black;
    color: #fff200;
}
